---
title: Home
layout: default
---
<!-- description text section
<section id="descripton" class="section descripton">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
            <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet avida at eget metus.</p>
        </div>
    </div>
</section>
description text section -->
<br>
<!-- portfolio section -->
<section id="works" class="works section no-padding">
    <h2>Recent Works</h2>
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for work in site.data.portfolio limit:8 %}
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="/portfolio/{{ work.title | replace: " ", "-" }}" class="work-box">
                    <h3>{{ work.title }}</h3>
                    <div class="overlay">
                        <div class="overlay-caption">
                            <h5>{{ work.title }}</h5>
                            <p>{{ work.year }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- portfolio section -->
{% include contactMe.html %}
